<%- include('header') -%>




<form action="/login" class="loginForm"  method="post">
  <br><br>
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <br>
    <button type="submit">Log In</button>
    <br>
    <h4>Don't have an account?? <a style="color:white" href="/register">Register</a></h4>
</form>


<%- include('footer') -%>
