<%- include('header') -%>




<form action="/register" class="loginForm"  method="post">
  <br><br>
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <br>
    <button type="submit">Register</button>
    <br>
    <h4>Already have an account?? <a style="color:white" href="/login">Log In</a></h4>
</form>


<%- include('footer') -%>
