<%-include('header')-%>
<div class="container">
    <h1 style="font-size:3.5rem; font-weight:bold;">Thank You for Your Interest in our Product<br>Our Staff will contact you soon</h1>
</div>
<%-include('footer')-%>